@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --color-red: #c73b0f;
    --color-rose-900: #260f08;
    --color-rose-500: #87635a;
    --color-rose-400: #ad8a85;
    --color-rose-300: #caafa7;
    --color-rose-100: #f5eeec;
    --color-rose-50: #fcf8f6;
    --color-green: #1ea575;
    --color-black: #000000;
    --color-white: #ffffff;

}

body,
* {
    font-family: "Red Hat Text", sans-serif;
}

.text-1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    color: var(--color-rose-900);
}

.text-2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-red);
}

.text-3 {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-rose-900);
}

.text-4 {
    font-size: 14px;
    font-weight: 600;
}

body {
    padding: 88px 24px;
    background-color: var(--color-rose-50);
}

main {
    display: flex;
    max-width: 1216px;
    margin-inline: auto;
    gap: 32px;
    flex-wrap: wrap;
    align-items: flex-start;
}


h1 {
    margin-bottom: 32px;
}

.desserts_container {
    width: 65.789%;
}

.dessert_list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 32px 24px;
}


/* Dessert Item ******* */
.dessert_item .dessert_image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1.0417;
    border-radius: 8px;
}

.cart_btn {
    border-radius: 999px;
    display: flex;
    align-items: center;
    margin-inline: auto;
    transform: translateY(-50%);
    cursor: pointer;
    width: 160px;
    height: 44px;
}

button.add_to_cart {
    gap: 8px;
    justify-content: center;
    background-color: var(--color-white);
    border: 1px solid var(--color-rose-400);
    outline: none;
}

.dessert_item .category {
    font-weight: 400;
}

.dessert_item .name {
    margin-top: 4px;
    margin-bottom: 4px;
}

.dessert_item .price {
    color: var(--color-red);
}

button span {
    color: var(--color-rose-900);
}

.update_cart_container {
    justify-content: space-between;
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    padding-inline: 12px;
}



/* Cart ************************************** */
.cart {
    padding-top: 24px;
    padding-bottom: 40px;
    background-color: var(--color-white);
    border-radius: 12px;
    text-align: center;
    flex: 1;
}

.cart img {
    margin-top: 40px;
    margin-bottom: 16px;
    margin-inline: auto;
}

.cart p {
    color: var(--color-rose-500);

}