@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --color-red: #c73b0f;
    --color-rose-900: #260f08;
    --color-rose-500: #87635a;
    --color-rose-400: #ad8a85;
    --color-rose-300: #caafa7;
    --color-rose-100: #f5eeec;
    --color-rose-50: #fcf8f6;
    --color-green: #1ea575;
    --color-black: #000000;
    --color-white: #ffffff;

}

body,
* {
    font-family: "Red Hat Text", sans-serif;
}

body {
    position: relative;
}

.text-1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    color: var(--color-rose-900);
}

.text-2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-red);
}

.text-3 {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-rose-900);
}

.text-4 {
    font-size: 14px;
    font-weight: 600;
}

body {
    padding: 88px 24px;
    background-color: var(--color-rose-50);
}

main {
    display: flex;
    max-width: 1216px;
    margin-inline: auto;
    gap: 32px;
    flex-wrap: wrap;
    align-items: flex-start;
}


h1 {
    margin-bottom: 32px;
}

.desserts_container {
    width: 65.789%;
}

.dessert_list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 32px 24px;
}


/* Dessert Item ******* */
.dessert_item .dessert_image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1.0417;
    border-radius: 8px;
}

.dessert_item .dessert_image.in_cart {
    border: 2px solid var(--color-red)
}

.dessert_item .category {
    font-weight: 400;
}

.dessert_item .name {
    margin-top: 4px;
    margin-bottom: 4px;
}

.dessert_item .price {
    color: var(--color-red);
}


/* Cart ************************************** */
.cart {
    padding: 24px;
    background-color: var(--color-white);
    border-radius: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.cart img {
    margin-top: 16px;
    margin-bottom: 24px;
    margin-inline: auto;
}

.empty p {
    color: var(--color-rose-500);
    text-align: center;
    margin-bottom: 16px;
}

.cart_items {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* .cart ul {
    display: flex;
    flex-direction: column;
} */

.cart ul li {
    color: var(--color-rose-900);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    border-bottom: 1px solid var(--color-rose-100);
}

.cart ul li:first-child {
    padding-top: 0px;
}

.cart ul li h4 {
    margin-bottom: 8px;
}

.cart ul li .details {
    display: flex;
    gap: 8px;
}

.cart ul li .quantity {
    color: var(--color-red);
}

.cart ul li .price {
    font-weight: 400;
    color: var(--color-rose-500);
}

.cart ul li .total {
    color: var(--color-rose-500);
}

.cart ul li .icon-container {
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-rose-400);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cart ul li .icon-container svg path {
    fill: var(--color-rose-400);
    transition: all 0.3s ease;
}

.cart ul li .icon-container:hover {
    border-color: var(--color-rose-900);
}

.cart ul li .icon-container:hover path {
    fill: var(--color-rose-900);
}

.cart .sum {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-rose-900);
}

.cart .sum .text {
    font-size: 14px;
    color: var(--color-rose-900);
}

.cart .sum .price {
    color: var(--color-rose-900);
    font-size: 24px;
    font-weight: 700;
}

.cart .note {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 16px 0px;
    background-color: var(--color-rose-50);
    border-radius: 8px;
}

.note p {
    font-weight: 400;
}

.note p span {
    font-weight: 600;
}


.confirm_btn,
.start_new_btn {
    color: var(--color-white);
    background-color: var(--color-red);
    outline: none;
    border: none;
    border-radius: 999px;
    padding: 16px 0px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.confirm_btn:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), var(--color-red);
}

/* Cart Item Buttons **** */
.cart_btn_container {
    position: relative;
    transform: translateY(-50%);
    width: 160px;
    height: 44px;
    border-radius: 999px;
    margin-inline: auto;
    overflow: hidden;
    border: 1px solid var(--color-red);
}

.add_to_cart:hover span {
    color: var(--color-red);
}

.add_to_cart,
.update_cart {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;

}

button.add_to_cart {
    gap: 8px;
    justify-content: center;
    background-color: var(--color-white);
    outline: none;
    border: none;
}

button span {
    color: var(--color-rose-900);
}

.update_cart {
    justify-content: space-between;
    background-color: var(--color-red);
    padding-inline: 12px;
    color: var(--color-white);
}

.update_cart .icon-container {
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-white);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 0.3s ease;
}

.update_cart .icon-container:hover {
    background-color: var(--color-white);
}

.update_cart .icon-container svg path {
    fill: var(--color-white);
    transition: fill 0.3s ease;

}

.update_cart .icon-container:hover path {
    fill: var(--color-red);
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

/* Modal ********* */
.modal_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding-top: 5%;
    justify-content: center;
    /* display: none; */
}

.modal_box {
    width: 90%;
    max-width: 592px;
    background-color: var(--color-white);
    border-radius: 12px;
    padding: 40px;
    height: fit-content
}

.modal_box svg {
    margin-bottom: 24px;
}

.modal_box h1 {
    margin-bottom: 8px;
}

.modal_box h2 {
    font-size: 16px;
    color: var(--color-rose-500);
    margin-bottom: 32px;
}

.modal_box_cart {
    background-color: var(--color-rose-50);
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal_box span.total {
    color: var(--color-rose-900);
    font-weight: 600;
}

.modal_box ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    border-bottom: 1px solid var(--color-rose-100);
}

.modal_box ul li:first-child {
    padding-top: 0px;
}

.modal_box ul li h4 {
    margin-bottom: 8px;
}

.modal_box ul li .details {
    display: flex;
    gap: 8px;
}

.modal_box ul li .quantity {
    color: var(--color-red);
}

.modal_box ul li .price {
    font-weight: 400;
    color: var(--color-rose-500);
}

.modal_box ul li .image_box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.modal_box ul li img {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;
}

.modal_box_cart .sum {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-rose-900);
}

.modal_box_cart .sum .text {
    font-size: 14px;
    color: var(--color-rose-900);
}

.modal_box_cart .sum .price {
    color: var(--color-rose-900);
    font-size: 24px;
    font-weight: 700;
}

.modal_box .start_new_btn {
    width: 100%;
    margin-top: 24px;
}