@media (max-width:650px) {
    body {
        padding: 24px;
    }

    .dessert_list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .dessert_item .dessert_image {
        aspect-ratio: 1.542;
    }

    .modal_box {
        padding: 24px;
    }


}